#back {
    position: fixed;
    top: 20px;
    left: 20px;
    text-align: left;
    padding: 10px 20px;
    border-radius: 8px;
    border: solid 0.5px #ffffff;
    background-color: #67da69;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#back:hover{
    background-color: rgb(77, 145, 78);
}

#back:active {
    outline:none;
    border:none
}