#content {
    margin-left:7%;
    margin-right:7%;
    margin-top: 7%;

}
div h2 {
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size:30px;
}

div ol {
    margin-top: 5%;
}


div ol li {
    text-align: left !important;
    margin: 0 0 5% 0;
    letter-spacing: 0.05em;
    font-size:20px
   
}
